body{
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 50px;
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.menu {
  position: relative;
}

.menu button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #000000;
  border-radius: 5px;
}

#dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  color: #333;
}

#dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropdown-menu li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

#dropdown-menu li:hover {
  background-color: #f1f1f1;
}

#dropdown-menu.show {
  transform: translateX(0);
}

#close-menu {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.access button {
  background-color: #ffdd00;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  color: #000000;
}


  /*
  Carrusel
  */

  .carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-slide {
    min-width: 100%;
    position: relative;
  }

  .carousel-slide img {
    width: 100%;
    vertical-align: middle;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: "prelo-book";
    font-size: 2.2rem;
    max-width: 30%;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }


  /*
  
  */

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  