.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.8s ease;
}

.carousel-slide {
    min-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.carousel-slide img {
    width: 10%;
    display: block;
    margin: auto;
    max-width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
    padding: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}